.MMM-WeatherChartD3 .tick {
	font-family: var(--font-primary), sans-serif;
	font-size: 0.75rem;
}

.MMM-WeatherChartD3 .y-axis-label {
	font-family: var(--font-primary), sans-serif;
	font-size: 0.75rem;
}